body {
    margin: 0px;
    padding: 0px;
}

.callBox-card {
    display: flex;
    padding: 22px;
    width: 288px;
    gap: 22px;
    align-items: center;
    flex-direction: row;
    cursor: pointer;

    border-radius: 8px;
    border: 0.5px solid #ededed;
    background-color: #ededed;
}

.cbc-img {
    width: 44.917px;
    height: 46.958px;
}

.cb-number {
    color: #ed1e5d;
    font-family: "SUIT Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
}

.cb-goal {
    color: #ed1e5d;
    font-family: "SUIT Variable";
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    line-height: 1;
    margin: 0;
}

.cb-txt {
    color: #777;
    font-family: "SUIT Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 135.097%;

    line-height: 1;
    margin: 0;
    margin-top: 5px;
}

.cbc-title {
    display: flex;
    align-items: baseline;
    gap: 8px;
}
