:root {
    --background: #f7f7f7;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

/*---------------------------------- header 부분 ----------------------------------*/

.home-card {
    display: flex;
    background-color: var(--background);
    width: 390px;
    padding: 28px 28px 0px 28px;
    flex-direction: column;
    gap: 25px;
    min-height: 100vh;
}

.logo {
    width: 67px;
    height: 42px;
}

/*---------------------------------- callbox 부분 ----------------------------------*/

.callbox-container {
    display: flex;
    width: 322px;
    padding: 22px 22px 23px 17px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    border-radius: 26px;
    border: 0.5px solid #f3f3f3;
    background: #fff;
    box-shadow: 0 0 13.5px 0 rgba(119, 119, 119, 0.06);
}

.emergency-call {
    color: #ed1e5d;
    font-family: "SUIT Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 8px;
}

.cb-title {
    display: flex;
    width: 200px;
    height: 20px;
    gap: 0px;
    align-items: center;
    padding: 0px;
}

.cb-img {
    width: 24px;
    height: 24px;
}

/* ===== 검색 영역 ===== */
.search-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ededed;
    border-radius: 40px 40px 0 0;
    margin: 56px -28px 0;
    /* 좌우를 부모 padding만큼 마이너스 */
    padding: 0 2px 40px;
}

/* 검색바 (회색 배경 위로 살짝 걸치게) */
.home-search-bar {
    display: flex;
    align-items: center;
    width: 322px;
    justify-content: space-between;
    padding: 0 20px 0 28px;
    height: 48px;
    margin: -28px auto 0;

    border-radius: 14px;
    border: 0.5px solid #ededed;
    background: #fff;
    box-shadow: 0 5px 11.9px 0 rgba(119, 119, 119, 0.06);
}

.search-bar.search {
    display: flex;
    align-items: center;
    width: 322px;
    justify-content: space-between;
    padding: 0 20px 0 28px;
    height: 64px;
    margin: 0px;
    border-radius: 14px;
    border: 0.5px solid #ededed;
    background: #fff;
    box-shadow: 0 5px 11.9px 0 rgba(119, 119, 119, 0.06);
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    color: #333333;
}

.search-input::placeholder {
    color: #aaaaaa;
}

.search-img {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

/* ===== 탭 ===== */
.tab-container {
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    background: #ffffff;
    border-radius: 999px;
    padding: 8px;
    margin: 24px auto;
}

.tab-btn {
    flex: 1;
    border: none;
    background: none;
    padding: 12px 0;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 600;
    color: #222222;
    cursor: pointer;
    transition: 0.2s;
}

.tab-btn.active {
    display: flex;
    width: 80px;
    height: 36px;
    padding: 11px 21px 11px 21px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #ec5570;
    color: #ffffff;
}

/* ===== 카드 리스트 ===== */
.situation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.situation-list.empty {
    padding-top: 40px;
    padding-bottom: 40px;
}
