.loading {
    position: fixed;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.load-img {
    width: 100px;
}

.load-text {
    margin-top: 20px;
    font-family: "SUIT Variable";
}
